* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #121725;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: 'Chivo', sans-serif;
}

body .container {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: url("/assets/images/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  body .container {
    max-height: 1024px;
    position: relative;
    background-image: none;
    background: #121725;
  }
}

@media (min-width: 1024px) {
  body .container {
    max-width: 1440px;
    max-height: 900px;
  }
  body .container h1 {
    font-size: 52px;
    line-height: 62px;
  }
}

body .container .dots {
  display: none;
}

@media (min-width: 768px) {
  body .container .dots {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 30px;
  }
}

@media (min-width: 1024px) {
  body .container .dots {
    bottom: 78px;
    left: auto;
    right: 0;
  }
}

body .container .host {
  display: none;
}

@media (min-width: 768px) {
  body .container .host {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 1024px) {
  body .container .host {
    top: 130px;
  }
  body .container .host img {
    content: url("/assets/images/desktop/image-host.jpg");
  }
}

body .container .logo {
  margin: 62px auto 57px auto;
}

@media (min-width: 768px) {
  body .container .logo {
    margin: 0;
    top: 50px;
    left: 39px;
    position: absolute;
  }
}

@media (min-width: 1024px) {
  body .container .logo {
    top: 102px;
    left: 165px;
  }
}

body .container .opacity {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: rgba(18, 23, 37, 0.9);
}

@media (min-width: 768px) {
  body .container .opacity {
    background: none;
  }
}

@media (min-width: 768px) {
  body .container main {
    padding-top: 93px;
    height: 510px;
    width: 635px;
    background: #121725;
    text-align: left;
    margin-top: 258px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body .container main {
    margin-left: 165px;
    margin-top: 262px;
  }
}

body .container main h1 {
  margin-bottom: 16px;
  font-weight: lighter;
  padding: 0 24px;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 38px;
  color: #54e6af;
}

body .container main h1 span {
  color: #ffffff;
}

@media (min-width: 768px) {
  body .container main h1 {
    margin-bottom: 31px;
    font-size: 48px;
    line-height: 56px;
    padding: 0;
  }
}

body .container main p {
  font-weight: lighter;
  padding: 0 24px;
  line-height: 25px;
  font-size: 15px;
  color: #c2cbe5;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  body .container main p {
    width: 445px;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
    margin-bottom: 160px;
  }
}

body .container main .logo-wrapper {
  max-width: 315px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 17px;
  margin-bottom: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  body .container main .logo-wrapper {
    max-width: 536px;
    margin: 0;
  }
}

body .container main .logo-wrapper .spotify {
  width: 56px;
  height: 17px;
}

@media (min-width: 768px) {
  body .container main .logo-wrapper .spotify {
    width: 96px;
    height: 29px;
  }
}

body .container main .logo-wrapper .apple {
  width: 45px;
}

@media (min-width: 768px) {
  body .container main .logo-wrapper .apple {
    width: 78px;
    height: 29px;
  }
}

body .container main .logo-wrapper .google {
  width: 73px;
  height: 11px;
}

@media (min-width: 768px) {
  body .container main .logo-wrapper .google {
    width: 125px;
    height: 18px;
  }
}

body .container main .logo-wrapper .pocket {
  width: 77px;
  height: 15px;
}

@media (min-width: 768px) {
  body .container main .logo-wrapper .pocket {
    width: 129px;
    height: 26px;
  }
}

body .container footer {
  margin: 0 auto;
  max-width: 326px;
}

@media (min-width: 768px) {
  body .container footer {
    max-width: none;
    position: relative;
    width: 427px;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 618px;
    left: 39px;
  }
}

@media (min-width: 1024px) {
  body .container footer {
    left: 165px;
  }
}

body .container footer .error {
  visibility: hidden;
  color: #fb3e3e;
  font-weight: bold;
  font-size: 12px;
  margin-top: 8px;
}

@media (min-width: 768px) {
  body .container footer .error {
    margin-left: 32px;
  }
}

body .container footer input {
  margin-bottom: 16px;
  background-color: #2c344b;
  border: none;
  border-radius: 30px;
  width: 326px;
  height: 48px;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
  padding-left: 32px;
  color: #ffffff;
}

body .container footer input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

body .container footer input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

body .container footer input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

body .container footer input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

@media (min-width: 768px) {
  body .container footer input {
    padding-left: 32px;
    margin: 0;
    width: 427px;
    height: 56px;
  }
}

body .container footer .submit {
  cursor: pointer;
  background-color: #54e6af;
  border-radius: 30px;
  width: 326px;
  height: 48px;
  border: none;
  color: #121725;
}

@media (min-width: 768px) {
  body .container footer .submit {
    right: 5px;
    top: 5px;
    position: absolute;
    width: 162px;
    height: 46px;
    margin: 0;
    padding: 0;
  }
}

body .container footer .submit p {
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}

body .container footer .submit:hover {
  background-color: #b3ffe2;
}
/*# sourceMappingURL=styles.css.map */